@media (min-width: 1025px) {
.h-custom {
height: 80vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}
i.fas.fa-trash-alt {
    font-size: 20px; /* Ajuste la taille de l'icône */
    color: #dc3545;   /* Change la couleur de l'icône (rouge pour la corbeille) */
}
